<body>
<style>
#header {height:10%;background-color:#FF8F59}
#content{height:805vh;background-color:#FFFAF4;@media screen and (max-width:1525px){height:770vh};@media screen and (max-width:1200px){height:870vh};@media screen and (max-width:800px){height:1195vh}}
#footer {height:50px;background-color:#EA7500;padding:0em}
table, td, th {border:0px solid black;}
td {height:400px;width:450px}
table{margin:auto;position:relative;top:10px}
.column {float: left; width: 33%; height:400px; text-align:center;}
#introduce{margin:auto;height:350px;position:relative;top:-20px;@media screen and (max-width:620px){height:0px}}
h1{font-family:"微軟正黑體";font-size:38px;text-align:center}
h2{font-family:"微軟正黑體";font-size:30px;text-align:center;padding-bottom:1.3em}
h3{font-family:"Times New Roman";margin:auto;text-align:left;width:295px;position:relative}
h4{font-family:"微軟正黑體";font-size:32px;text-align:center;line-height:72px;@media screen and (max-width:620px){position:relative;top:-45px;left:10px}}
h5{font-family:"微軟正黑體";margin:Auto;font-size:25px;text-align:center;color:#FFFFFF;height:40px;width:40px;position:relative;top:-5px}
p{font-family:"Times New Roman";font-size:20px;width:420px;position:relative;right:10px}
p1{font-family:"Times New Roman";font-size:25px;position:relative;
	@media screen and (max-width:950px){font-size:24.5px};@media screen and (max-width:940px){font-size:24px};@media screen and (max-width:930px){font-size:23px};@media screen and (max-width:910px){font-size:22px};
	@media screen and (max-width:870px){font-size:21px};@media screen and (max-width:850px){font-size:20px};@media screen and (max-width:820px){font-size:19px};@media screen and (max-width:800px){font-size:18px};
	@media screen and (max-width:770px){font-size:16px};@media screen and (max-width:740px){font-size:15px};@media screen and (max-width:690px){font-size:14px};@media screen and (max-width:665px){font-size:13px};
	@media screen and (max-width:640px){font-size:12px};@media screen and (max-width:620px){font-size:0px}}
p2{font-family:"Times New Roman";font-size:18px;position:relative;left:20px}
img{margin:auto;height:250px;position:relative}
ul {list-style-type:none;position:relative;top:-40px}
li {line-height:60px;right:50px}
.menu {
    box-sizing: border-box;
    width: 80%;
    padding: 10px;
    margin: auto;
    text-align:center;
    font-size: 18px;
    position: absolute; 
    left:10%;
  }
  input {display:none;}
  label {cursor: pointer;}  
  .submenu {
    overflow: hidden;      
    width: 100%;            
    max-height: 0;         
    transition: 0.5s; 
    margin:auto;
    text-align:left; 
    position:absolute; 
    z-index:150;
    right:0px;   
  }
  input:checked + .submenu {
    max-height: 500px;      
    transition: 1s;         
  }
  #paragraph{margin:auto;width:900px}
   #space{height:100px}
   #space2{height:20px}
   #space3{height:50px}
* {box-sizing: border-box;}
@media screen and (max-width: 1200px){.column{width: 50%;}}
@media screen and (max-width: 800px){.column{width: 100%;}}
</style>	
</body>
