<body>
<style>
#header {height:50%;background-image:url("header.jpg");background-repeat:no-repeat;background-size:cover;padding:1em}
#team {height:520px;background-color:#FFFFF4;padding:0.5em} 
#member {height:2700px;background-color:#FFFFF4;padding:0em} 
img{width:30%;text-align:right;margin-right:320px}
#footer {height:75px;background-color:#FFF7FF;padding:0em}
h2{font-family:"微軟正黑體";font-size:50px;text-align:center;padding:0em}
h3{font-family:"微軟正黑體";font-size:20px;text-align:center;margin-top:-1em;margin-left:11em}
p{font-family:"微軟正黑體";font-size:20px;width:420px;margin-left:11em}
p1{font-family:"微軟正黑體";font-size:21px;width:400px;margin-left:11em;margin-top:-1em}
p2{font-family:"微軟正黑體";font-size:20px;width:400px;margin-left:11em;margin-top:-1em}
div{height:10px}
table, td, th {border:0px solid black;}
td {height:330px}
table{position:relative;top:-20px}
#bro{list-style-type:circle;margin-left:8em;width:1100px}
#pro{list-style-type:square;margin-left:8em;width:1100px}
li {line-height:2.5;}
</style>
</body>
